<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <StructureMap MementoStyle="Attribute">
    <DefaultInstance PluginType="StructureMapLearn.IContactRepository, StructureMapLearn" PluggedType="StructureMapLearn.ContactRepository, StructureMapLearn" Scope="Singleton" a="1"/>
    <DefaultInstance PluginType="StructureMapLearn.IContactValidator, StructureMapLearn" PluggedType="StructureMapLearn.ContactValidator, StructureMapLearn" Scope="Singleton"/>
  </StructureMap>
  
</configuration>