<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="clientViaBehavior">
            <clientVia viaUri="net.tcp://127.0.0.1:29300/HomeService" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHomeService" />
                <binding name="BasicHttpBinding_ISecondService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISecondService" />
                <binding name="NetTcpBinding_IService1">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:39200/SecondService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISecondService" contract="SecondService.ISecondService"
                name="NetTcpBinding_ISecondService">
                <identity>
                    <userPrincipalName value="RY-HHHOM\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="http://127.0.0.1:28200/HomeService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHomeService" contract="HomeService.IHomeService"
                name="BasicHttpBinding_IHomeService" />
            <endpoint address="net.tcp://127.0.0.1/Service1.svc" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService1" contract="TCPService.IService1"
                name="NetTcpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>